.category-wrapper {
    display: flex;
  width: 100%;
  height: 950px;
  position: relative;
  background: white;
  overflow: hidden;
}
.category-title {
        width: 889.77px;
        height: 51.56px; 
        left: 315.12px; 
        top: 74.65px; 
        position: absolute;
        text-align: center;
        justify-content: center; 
        display: flex; 
        flex-direction: column; 
        color: black; 
        font-size: 38px; 
        font-family: 'Playfair Display'; 
        font-weight: 700;
        text-transform: uppercase;
        line-height: 25;
        word-wrap: break-word;
    }
.background-tanaman {
        width: 747.55px; 
        height: 670.41px; 
        left: 75.19px; 
        top: 163.59px; 
        position: absolute; 
        background: #EDF3E7;
        z-index: 1;
    }
    .text-tanaman {
        width: 459.77px; 
        height: 185.90px; 
        left: 124.36px; 
        top: 417.84px; 
        position: absolute; 
        justify-content: center; 
        display: flex; 
        flex-direction: column; 
        color: black; 
        font-size: 32px; 
        font-family: 'Playfair Display'; 
        font-weight: 600; 
        text-transform: uppercase; 
        line-height: 78px; 
        word-wrap: break-word;
        z-index: 3;
    }
    .img-tanaman {
        width: 345.32px; 
        height: 590.41px; 
        left: 475.44px; 
        top: 206.68px; 
        position: absolute; 
        z-index: 5;
    }

    .background-tugu {
            width: 663.60px; 
            height: 670.41px; 
            left: 825.60px; 
            top: 163.59px; 
            position: absolute; 
            background: #EBEEF3;
            z-index: 2;
        }
    .text-tugu{
        width: 354.42px; 
        height: 185.90px; 
        left: 875.17px; 
        top: 421.95px; 
        position: absolute; 
        justify-content: center; 
        display: flex; 
        flex-direction: column; 
        color: black; 
        font-size: 32px; 
        font-family: 'Playfair Display'; 
        font-weight: 600; 
        text-transform: uppercase; 
        line-height: 78px; 
        word-wrap: break-word;
        z-index: 4;
    }
.img-tugu{
        width: 305.32px; 
        height: 590.41px; 
        left: 1215.44px; 
        top: 206.68px; 
        position: absolute; 
        z-index: 5;
}