.gallerySection {
  width: 100%;
  background: white;
  padding: 60px 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}

.viewAll {
  font-size: 30px;
  color: #637E59;
  font-weight: 500;
  cursor: pointer;
}

.galleryGrid {
  width: 100%;
  max-width: 1650px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 4px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.caption {
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  color: #333;
}
