.galeri-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  overflow: hidden;
}

.nav-item-active {
  width: 330.10px;
  height: 51.58px;
  left: 3.51px;
  top: 271.20px;
  position: absolute;
  background: #F3F3F3;
  border-radius: 7px;
}

.nav-dashboard {
  width: 155.50px;
  height: 18.66px;
  left: 95.81px;
  top: 186px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.nav-galeri {
  width: 155.50px;
  height: 18.66px;
  left: 95.81px;
  top: 289.99px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #0C8C62;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.nav-testimoni {
  width: 155.50px;
  height: 18.66px;
  left: 95.81px;
  top: 391.30px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.nav-profil {
  width: 155.50px;
  height: 18.66px;
  left: 95.81px;
  top: 493.95px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.icon-galeri-base {
  width: 14.25px;
  height: 9.54px;
  left: 44.90px;
  top: 292.14px;
  position: absolute;
  background: #0B885E;
  outline: 1px #0C8A60 solid;
  outline-offset: -0.50px;
}

.icon-galeri-dot-1 {
  width: 5.94px;
  height: 7.48px;
  left: 41.94px;
  top: 288.40px;
  position: absolute;
  background: #0B885E;
  border-radius: 9999px;
  border: 1px #0C8A60 solid;
}

.icon-galeri-dot-2 {
  width: 5.94px;
  height: 7.48px;
  left: 49.06px;
  top: 284.65px;
  position: absolute;
  background: #0B885E;
  border-radius: 9999px;
  border: 1px #0C8A60 solid;
}

.icon-galeri-dot-3 {
  width: 5.94px;
  height: 7.48px;
  left: 56.18px;
  top: 288.40px;
  position: absolute;
  background: #0B885E;
  border-radius: 9999px;
  border: 1px #0C8A60 solid;
}

.icon-galeri-frame {
  width: 31.73px;
  height: 21.33px;
  left: 35.52px;
  top: 292.65px;
  position: absolute;
  background: #0B885E;
  outline: 1.50px #0C8A60 solid;
  outline-offset: -0.75px;
}

.icon-testimoni-roof {
  width: 18.41px;
  height: 11.60px;
  left: 53.93px;
  top: 413.88px;
  position: absolute;
  transform: rotate(-180deg);
  transform-origin: top left;
  outline: 1.50px white solid;
  outline-offset: -0.75px;
}

.icon-testimoni-person-1 {
  width: 9.40px;
  height: 11.84px;
  left: 39.20px;
  top: 387.30px;
  position: absolute;
  opacity: 0.60;
  background: white;
  border-radius: 9999px;
}

.icon-testimoni-person-2 {
  width: 9.40px;
  height: 11.84px;
  left: 50.70px;
  top: 387.30px;
  position: absolute;
  opacity: 0.60;
  background: white;
  border-radius: 9999px;
}

.icon-profil-roof {
  width: 17.31px;
  height: 10.91px;
  left: 60.23px;
  top: 515.28px;
  position: absolute;
  transform: rotate(-180deg);
  transform-origin: top left;
  outline: 1.50px white solid;
  outline-offset: -0.75px;
}

.icon-profil-person {
  width: 10.58px;
  height: 13.33px;
  left: 46.29px;
  top: 488.62px;
  position: absolute;
  border-radius: 9999px;
  border: 1.50px white solid;
}

.icon-dashboard-grid-1 {
  width: 10.17px;
  height: 9.12px;
  left: 52.51px;
  top: 184.07px;
  position: absolute;
  outline: 1.50px #F1F2EF solid;
  outline-offset: -0.75px;
}

.icon-dashboard-grid-2 {
  width: 10.17px;
  height: 9.12px;
  left: 38.04px;
  top: 197.52px;
  position: absolute;
  outline: 1.50px #F1F2EF solid;
  outline-offset: -0.75px;
}

.icon-dashboard-grid-3 {
  width: 10.17px;
  height: 9.12px;
  left: 52.51px;
  top: 197.52px;
  position: absolute;
  outline: 1.50px #F1F2EF solid;
  outline-offset: -0.75px;
}

.icon-dashboard-grid-4 {
  width: 10.17px;
  height: 9.12px;
  left: 38.04px;
  top: 184.07px;
  position: absolute;
  outline: 1.50px #F1F2EF solid;
  outline-offset: -0.75px;
}

.page-header {
  width: 771.90px;
  height: 50.91px;
  left: 377.01px;
  top: 83.16px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #0A121B;
  font-size: 52px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.04px;
  word-wrap: break-word;
}

.action-button-add {
  width: 276.05px;
  height: 41.34px;
  left: 1583.60px;
  top: 92.48px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.action-button-filter {
  width: 276.05px;
  height: 41.34px;
  left: 1285.35px;
  top: 92.48px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.action-button-add-text {
  width: 176.19px;
  height: 23.58px;
  left: 1645.64px;
  top: 106.22px;
  position: absolute;
  text-align: center;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.icon-add {
  width: 21.41px;
  height: 17.86px;
  left: 1602.04px;
  top: 104.22px;
  position: absolute;
  outline: 1.50px #363853 solid;
  outline-offset: -0.75px;
}

.gallery-item {
  width: 1476.85px;
  height: 117.92px;
  left: 389.90px;
  position: absolute;
  background: white;
  border-radius: 20px;
}

.gallery-item-1 {
  top: 178.81px;
}

.gallery-item-2 {
  top: 322.94px;
}

.gallery-item-3 {
  top: 467.06px;
}

.gallery-item-4 {
  top: 611.19px;
}

.gallery-item-5 {
  top: 755.32px;
}

.gallery-item-6 {
  top: 899.44px;
}

.item-title {
  width: 151.68px;
  height: 24.89px;
  left: 516.30px;
  position: absolute;
  color: #232323;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.item-title-1 {
  top: 208.94px;
}

.item-title-2 {
  top: 353.07px;
}

.item-title-3 {
  top: 497.20px;
}

.item-title-4 {
  top: 641.33px;
}

.item-title-5 {
  top: 785.45px;
}

.item-title-6 {
  top: 929.58px;
}

.item-description {
  width: 211.55px;
  height: 23.58px;
  left: 516.30px;
  position: absolute;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.item-description-1 {
  top: 243.01px;
}

.item-description-2 {
  top: 387.14px;
}

.item-description-3 {
  top: 531.26px;
}

.item-description-4 {
  top: 675.39px;
}

.item-description-5 {
  top: 819.52px;
}

.item-description-6 {
  top: 963.65px;
}

.item-category-label {
  width: 131.72px;
  height: 24.89px;
  left: 839.61px;
  position: absolute;
  color: #232323;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.item-category-label-1 {
  top: 208.94px;
}

.item-category-label-2 {
  top: 353.07px;
}

.item-category-label-3 {
  top: 497.20px;
}

.item-category-label-4 {
  top: 641.33px;
}

.item-category-label-5 {
  top: 785.45px;
}

.item-category-label-6 {
  top: 929.58px;
}

.item-category-value {
  width: 154.34px;
  height: 23.58px;
  left: 839.61px;
  position: absolute;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.item-category-value-1 {
  top: 243.01px;
}

.item-category-value-2 {
  top: 387.14px;
}

.item-category-value-3 {
  top: 531.26px;
}

.item-category-value-4 {
  top: 675.39px;
}

.item-category-value-5 {
  top: 819.52px;
}

.item-category-value-6 {
  top: 963.65px;
}

.item-stock-label {
  width: 131.72px;
  height: 24.89px;
  left: 1103.05px;
  position: absolute;
  color: #232323;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.item-stock-label-1 {
  top: 208.94px;
}

.item-stock-label-2 {
  top: 353.07px;
}

.item-stock-label-3 {
  top: 497.20px;
}

.item-stock-label-4 {
  top: 641.33px;
}

.item-stock-label-5 {
  top: 785.45px;
}

.item-stock-label-6 {
  top: 929.58px;
}

.item-stock-value {
  width: 154.34px;
  height: 23.58px;
  left: 1103.05px;
  position: absolute;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.item-stock-value-1 {
  top: 243.01px;
}

.item-stock-value-2 {
  top: 387.14px;
}

.item-stock-value-3 {
  top: 531.26px;
}

.item-stock-value-4 {
  top: 675.39px;
}

.item-stock-value-5 {
  top: 819.52px;
}

.item-stock-value-6 {
  top: 963.65px;
}

.item-delete-button-text {
  width: 118.41px;
  height: 23.58px;
  left: 1668.51px;
  position: absolute;
  text-align: center;
  color: #718EBF;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.item-delete-button-text-1 {
  top: 227.29px;
}

.item-delete-button-text-2 {
  top: 371.41px;
}

.item-delete-button-text-3 {
  top: 515.54px;
}

.item-delete-button-text-4 {
  top: 659.67px;
}

.item-delete-button-text-5 {
  top: 803.80px;
}

.item-delete-button-text-6 {
  top: 947.92px;
}

.item-delete-button-border {
  width: 199.57px;
  height: 45.86px;
  left: 1627.26px;
  position: absolute;
  border-radius: 50px;
  border: 1px #718EBF solid;
}

.item-delete-button-border-1 {
  top: 215.50px;
}

.item-delete-button-border-2 {
  top: 359.62px;
}

.item-delete-button-border-3 {
  top: 503.75px;
}

.item-delete-button-border-4 {
  top: 647.88px;
}

.item-delete-button-border-5 {
  top: 792px;
}

.item-delete-button-border-6 {
  top: 936.13px;
}

.item-thumbnail {
  width: 79.83px;
  height: 78.61px;
  left: 409.86px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 20px;
}

.item-thumbnail-1 {
  top: 198.46px;
}

.item-thumbnail-2 {
  top: 342.59px;
}

.item-thumbnail-3 {
  top: 486.72px;
}

.item-thumbnail-4 {
  top: 630.84px;
}

.item-thumbnail-5 {
  top: 774.97px;
}

.item-thumbnail-6 {
  top: 919.10px;
}

.item-edit-icon-base {
  width: 16.36px;
  height: 117.47px;
  left: 1867.50px;
  position: absolute;
  transform: rotate(-180deg);
  transform-origin: top left;
  background: #2B8663;
  border-radius: 54px;
}

.item-edit-icon-overlay {
  width: 18.56px;
  height: 117.47px;
  left: 1858.82px;
  position: absolute;
  transform: rotate(-180deg);
  transform-origin: top left;
  background: #FFFEFE;
}

.item-edit-icon-1-base {
  top: 296.36px;
}

.item-edit-icon-1-overlay {
  top: 296.31px;
}

.item-edit-icon-2-base {
  top: 440.36px;
}

.item-edit-icon-2-overlay {
  top: 440.32px;
}

.item-edit-icon-3-base {
  top: 584.36px;
}

.item-edit-icon-3-overlay {
  top: 584.31px;
}

.item-edit-icon-4-base {
  top: 729.36px;
}

.item-edit-icon-4-overlay {
  top: 729.31px;
}

.item-edit-icon-5-base {
  top: 873.36px;
}

.item-edit-icon-5-overlay {
  top: 873.31px;
}

.item-edit-icon-6-base {
  top: 1017.36px;
}

.item-edit-icon-6-overlay {
  top: 1017.31px;
}