.sidebar {
  width: 396.67px;
  height: 1081px;
  left: -57.57px;
  top: -1px;
  position: absolute;
  background: #67904E;
}

.sidebar-gradient {
  width: 396.67px;
  height: 1081px;
  left: -57.57px;
  top: -1px;
  position: absolute;
  background: linear-gradient(180deg, #0B845C 0%, #0D986A 100%);
}

.sidebar-decoration-1 {
  width: 94.03px;
  height: 327.39px;
  left: 232.21px;
  top: 278.65px;
  position: absolute;
  transform: rotate(-23deg);
  transform-origin: top left;
}

.sidebar-decoration-2 {
  width: 120.83px;
  height: 544.20px;
  left: 236.07px;
  top: 859.49px;
  position: absolute;
  transform: rotate(-18deg);
  transform-origin: top left;
}

.sidebar-decoration-3 {
  width: 278.24px;
  height: 200.94px;
  left: -155.52px;
  top: 503.23px;
  position: absolute;
  transform: rotate(23deg);
  transform-origin: top left;
}

.logout-button {
  width: 221.08px;
  height: 23.61px;
  left: 40.23px;
  top: 930.03px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.logout-border {
  width: 154.26px;
  height: 46.80px;
  left: 71.80px;
  top: 917.88px;
  position: absolute;
  border-radius: 5px;
  border: 1px white solid;
}