.admin-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 270px;
  height:864px;
  background: linear-gradient(180deg, #67904E 0%, #0D986A 100%);
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 120px;
}

.menu-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px 30px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-item.active {
  background: #F3F3F3;
  color: #0C8960;
}

.logout-btn {
  margin-top: 252px;
  margin-left: 60px;
  padding: 8px 30px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.logout-btn:hover {
  background: white;
  color: #0C8960;
}

.admin-content {
  flex: 1;
  overflow-y: auto;
  background: #F5F5F5;
}

.bg-1 {
  position: absolute;
  width: auto;
  height: 392px;
  top: 0;
  left: 0;
}
.bg-2{
  position: absolute;
  height: 289px;
  width: auto;
  top: 220;
  right: 0;
}
.bg-3 {
  position: absolute;
  bottom: 0;
  height: 205px;
  width: auto;
  right: 0;
}
.bg-4 {
  position: absolute;
  width: auto;
  height: 251px;
  top: 420px;
  left: 0;
}