.gallerySection {
  width: 100%;
  background: white;
  padding: 60px 130px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}

.viewAll {
  margin-top: 55px;
  font-size: 21px;
  color: #637E59;
  font-weight: 500;
  cursor: pointer;
}

.galleryGrid {
  width: 100%;
  max-width: none;
  display: flex;
  gap: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  padding-top: 15px;
  scroll-behavior: smooth;
}

.galleryGrid::-webkit-scrollbar {
  height: 8px;
}

.galleryGrid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.galleryGrid::-webkit-scrollbar-thumb {
  background: #637E59;
  border-radius: 10px;
}

.galleryGrid::-webkit-scrollbar-thumb:hover {
  background: #4a5f44;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  flex-shrink: 0;
}

.card:nth-child(even) {
  margin-top: 150px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 4px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.caption {
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  color: #333;
}
