.auth-wrapper{
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh;  
    background: #FCD6AF;
    display: flex;
}
.header {
    width: 477px; 
    height: 50px; 
    text-align: center; 
    justify-content: center; 
    margin-left: 70px;
    display: flex; 
    flex-direction: column; 
    color: #0A121B; 
    font-size: 62; 
    font-family: Poppins; 
    font-weight: 600; 
    letter-spacing: 1.24; 
    word-wrap: break-word
}

.text-btn {
    width: 100%;
    height: 100%; 
    text-align: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    color: rgba(255, 255, 255, 0.88); 
    font-size: 23; 
    font-family: Poppins; 
    font-weight: 600; 
    letter-spacing: 0.46; 
    word-wrap: break-word
}

.auth-pict {
    width: 625px;
    height: 659px;
    height: auto;
}

.form {     
    background: #FFFFFF;
    height:934px;
    width: 1487px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    gap: 20px;
}