.button {
    width: 100%;
    height: 100%; 
    text-align: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    color: rgba(255, 255, 255, 0.88); 
    font-size: 23; 
    font-family: Poppins; 
    font-weight: 600; 
    letter-spacing: 0.46; 
    word-wrap: break-word
}